{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{{'学生退学'|trans}}{% endblock %}

{% block body %}
   <form id="drop-form" role="form" class="form-horizontal" method="post" action="{{ url('drop_out', {id:user.id}) }}">
    <div>
			<table border="0" width="600">
				<form action="" method="get">
					<tr height="30">
						<td width="100" align="right">学生姓名：</td>
						<td><input type="text" required="required"/></td>
					</tr>
					<tr height="40">
						<td align="right">联系方式：</td>
						<td><input type="text" required="required" /></td>
					</tr>
					<tr height="40">
						<td align="right">退学缘由：</td>
						<td>
							<textarea rows="3" cols="40" required="required"></textarea>
						</td>
					</tr>
					<tr height="40">
						<td align="right">附件上传：</td>
					</tr>
					<tr height="40">
						<td colspan="3" align="right">
							<input type="submit" value="提交" />
							<input type="button" value="取消" />
						</td>
					</tr>
				</form>
			</table>
		</div>
        </form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ '关闭'|trans }}</button>
{% endblock %}