<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>缴费订单</title>
	</head>
	<body>
		<form method="get" action="">
			<table width="100%" border="0" cellpadding="0" cellpadding="0" >
				<tr><td align="center"><h1>缴费订单</h1></td></tr>
				<tr><td align="center">姓名：</td></tr>
				<tr><td align="center">手机号码：</td></tr>
				<tr><td align="center">缴费金额：</td></tr>
				<tr><td align="center"><input type="submit" name="butsubmit" value="确认支付"></td></tr>
			</table>
		</form>
	</body>
</html>
